<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <ul class="list-social-icons">
          <li>Telefonos</li>
          <li>0414-0799763</li>
          <li>0274-7906171</li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
        <ul class="list-social-icons">
          <li>
            <a class="social-icon" href="https://www.facebook.com/solycantoposada/">
              <i class="fa fa-facebook-square"></i> Facebook</a>
          </li>
          <li>
            <a class="social-icon" href="https://www.instagram.com/posadasolycanto/">
              <i class="fa fa-instagram"></i> Instagram</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-12">
          <ul class="list-social-icons">
            <li>Email:</li>
            <li>solycantoreservaciones@hotmail.com</li>
            <li>Direccion:</li>
            <li>Calle los fresnos, El Arado A, San Javier del Valle, Mérida, Venezuela</li>
          </ul>
        </div>
  
    </div>
  </div>
</footer>
