<header class="header header-sticky {% if page.url=='/' %} header-overlay {% endif %}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-xs-8">
        <h1 class="site-logo">
          <a href="{{ site.baseurl }}/"><span class="header-text">Posada</span> Sol y Canto</a>
        </h1>
      </div>
      <div class="col-lg-7 col-xs-4">
        <nav class="nav">
          <ul class="navigation-main">
            <li {% if page.url=='/' %} class="current-menu-item" {% endif %}>
              <a href="{% link index.md %}">Inicio</a>
            </li>

            <li {% if page.url=='/services.html' %} class="current-menu-item" {% endif %}>
              <a href="{% link services.md %}">Servicios</a>
            </li>

            <li {% if page.url=='/installations.html' %} class="current-menu-item" {% endif %}>
              <a href="{% link installations.md %}">Instalaciones</a>
            </li>

            <li class="menu-item-has-children">
              <a href="#">Habitaciones</a>
              <ul class="sub-menu">
                {% for c in site.rooms %}
                <li>
                  <a href="{{ c.url }}">{{ c.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
            <li {% if page.url=='/contact.html' %} class="current-menu-item" {% endif %}>
              <a href="{% link contact.md %}">Contactanos</a>
            </li>
          </ul>
        </nav>
        <div id="mobilemenu"></div>
        <a href="#mobilemenu" class="mobile-nav-trigger">
          <i class="fa fa-navicon"></i> Menu
        </a>
      </div>
    </div>
</header>